@import 'bootstrap/scss/bootstrap';
@import 'rails_bootstrap_forms';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

$theme-color: #a4b4b4;
$mincho: 'Noto Serif JP', serif;

// 共通
.btn:active {
  box-shadow: none;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 4em;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .navbar-brand {
    font-size: 1.4em;
    font-family: $mincho;
  }

  .nav-link {
    color: black;
  }
}

#welcome-index {
  margin-top: 4em;
  margin-bottom: -4em;
  height: 25em;
  background: $theme-color;
  color: white;

  #welcome-message {
    font-family: $mincho;
    line-height: 1.4em;
    letter-spacing: 0.2em;
  }
  
  p a {
    color: white;
    text-decoration: underline;
  }
}

#main {
  margin-top: 8em;
  margin-bottom: 4em;

  .form-control {
    border: 1px solid lighten($theme-color, 10%);
    &:focus {
      box-shadow: none;
      border: 1px solid lighten($theme-color, 10%);
    }
  }

  .btn {
    background: $theme-color;
    color: white;
    &:hover {
      background: lighten($theme-color, 10%)
    }
  }

  a {
    color: darken($theme-color, 10%);
    text-decoration: underline;
    &:hover {
      color: $theme-color;
    }
  }
}

footer {
  margin-top: auto;
  background: #f4f4f4;
  padding-top: 4em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1.2em;

  #logo {
    color: black;
    font-family: $mincho;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}
