- if current_user.image.attached?
  = image_tag current_user.image, alt: 'mypage', width: yield(:user_image_size), height: yield(:user_image_size), class: 'rounded-circle'
- else
  = image_tag 'default.jpg', alt: 'mypage', width: yield(:user_image_size), height: yield(:user_image_size), class: 'rounded-circle border'
